<h1><%=url%></h1>
<img id="hotspot_image" name="hotspot_image" style="width: 50%" alt="Hotspot image" onclick="clickHotspotImage(event);"
    src="<%=url%>" />
<form method="post" action="/resize/uploads/<%=name%>">
    <h1>Width of image</h1>
    <p id="wid"><%=width%></p>
    <h1>Height of image</h1>
    <p id="hei"><%=height%></p>
    <h3>x-coordinate:</h3>
    <input id="x" name="x">
    <h3>y-coordinate:</h3>
    <input id="y" name="y">
    <input type="submit" value="Resize Image" />
</form>

<script>
    function clickHotspotImage(event) {
        //Getting the Canvas Height and Width
        var img = document.getElementById('hotspot_image');
        var width = img.clientWidth;
        var height = img.clientHeight;
        console.log("The Width is:"+width+"and the height is:"+height+"\n")

        console.log("Hello ejs!");

        //Getting the cursor coordinates
        var xCoordinate = event.offsetX;
        var yCoordinate = event.offsetY;
        console.log("xCoordinate:" + xCoordinate + "\n" + "yCoordinate:" + yCoordinate)
        var wid = document.getElementById('wid').innerHTML
        var hei = document.getElementById('hei').innerHTML
        document.getElementById('x').value = xCoordinate*wid/width
        document.getElementById('y').value = yCoordinate*hei/height
        console.log(xCoordinate*wid/width)
    }
</script>