<h1><%=url%></h1>

<canvas id="hotspot_image" width="<%=width%>" height="<%=height%>" name="hotspot_image"
    onclick="clickHotspotImage(event);"
    style="cursor:crosshair;background:url(<%=url%>);background-size:contain;background-repeat: no-repeat"></canvas>

<form method="post" action="/resize/uploads/<%=name%>">
    <h1>Width of image</h1>
    <p id="wid"><%=width%></p>
    <h1>Height of image</h1>
    <p id="hei"><%=height%></p>
    <h3>x-coordinate:</h3>
    <input id="x" name="x">
    <h3>y-coordinate:</h3>
    <input id="y" name="y">
    <input type="submit" value="Resize Image" />
</form>

<script>

    //Get the dimensions
    var wid = document.getElementById('wid').innerHTML
    var hei = document.getElementById('hei').innerHTML
    const ratio = wid / hei
    console.log("ratio:" + ratio)

    //Build Canvas
    const can = document.getElementById('hotspot_image');
    var ctx = can.getContext('2d')

    //Event listener for selecting coordinates
    can.onclick = function (e) {
        console.log("Hello!")
        getPosition(e);
    }

    //Dot Size
    var pointSize = 10;

    //Get coordinates
    function getPosition(event) {
        var rect = can.getBoundingClientRect(); //get position relative to the viewPort
        var x = event.clientX - rect.left; //x-coordinate on canvas
        var y = event.clientY - rect.top; //y-'''
        console.log("x-coordinate:" + x + "\ny-coordinate:" + y)
        document.getElementById('x').value = x/wid
        document.getElementById('y').value = y/hei
        drawCoordinates(x, y);
    }

    function drawCoordinates(x, y) {
        
        ctx.clearRect(0, 0, can.width, can.height);
        ctx.fillStyle = "#ff2626"; // Red color

        ctx.beginPath();
        ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
        ctx.fill();
    }
</script>